name: Release

on:
  workflow_dispatch:
  
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22


      - name: Build arm64 (Apple Silicon Macs)
        run: |
          GOOS=darwin GOARCH=arm64 go build -o mac2mqtt_bin_arm64 .

      - name: Build x86_64 (Intel-based Macs)
        run: |
          GOOS=darwin GOARCH=amd64 go build -o mac2mqtt_bin_x86_64 .


      - name: Upload Artifact (optional)
        uses: actions/upload-artifact@v4
        with:
          name: mac2mqtt_bin
          path: mac2mqtt_bin_*
            
          
